{% extends 'hr/base.haml' %}
{% block title %}
HR DB - Delete Employee
{% endblock %}
{% block content %}
<h2> Delete Employee </h2>
<p>
  You are about to delete records about <br />
  name: {{ employee.basic_info.name }} <br />
  email: {{ employee.basic_info.email }} <br />
</p>
<p>This cannot be undone.</p>
<form method="post" action="{% url 'hr:delete_employee' employee.id %}" >
  <button type="submit" class="btn btn-danger">Proceed</button>
</form>
{% endblock %}
